<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>新規登録</title>
    <link th:href="@{../css/style.css}" rel="stylesheet"></link>
</head>
<body>
    <form action="/"><input type="submit" value="戻る" class="button"></form>

	<h1>新規登録</h1>

    <span style="color:red;" th:text="${errorMsg}"></span>
    <form action="/add" method="POST">

    <p>
        名前：<input type="text" name="memberName" >
    </p>

    <p>
        住所：<input type="text" name="memberAddress">
    </p>

    <p>
        電話番号：<input type="tel" name="memberTel">
    </p>

    <p>
        メールアドレス：<input type="email" name="memberEmail">
    </p>

    <p>
        誕生日：<input type="text" name="memberBirth">
    </p>

    <p>
        パスワード：<input type="text" name="memberPass">
    </p>
    <form action="/"><input type="submit" value="登録" class="button"></form>

    </form>
</body>
</html>