<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>管理者ログイン</title>
    <link th:href="@{../css/style.css}" rel="stylesheet"></link>
</head>

<body>

    <p><a href="/">ログアウト</a> <a href="/addHotel">宿新規登録</a> <a href="/admin">会員情報管理</a>
       <a href="adminPlanType">プラン情報管理</a></p>

    <h1>宿一覧</h1>
    <span style="color:red;" th:text="${errorMsg}"></span>


    <form action="/findHotel" method="POST">
        <select name="serchCode">
            <option value="0">カテゴリーを選択</option>
            <option value="1">シティホテル</option>
            <option value="2">リゾートホテル</option>
            <option value="3">ビジネスホテル</option>
            <option value="4">旅館</option>
            <option value="5">民宿</option>
            <option value="6">ペンション</option>
        </select>
        <input type="text" name="freeWord">
        <p><input type="submit" value="検索" class="button"></p>
    </form>

    <table border="1">
        <tr>
            <th>宿ID</th><th>宿名</th><th>分類コード</th><th>住所</th><th>チェックイン</th><th>チェックアウト</th>
            <th>プランID</th>
        </tr>
        <tr th:each="hotel:${hotelList}">
            <td th:text="${hotel.hotelId}"></td>
            <td th:text="${hotel.hotelName}"></td>
            <td th:text="${hotel.categoryCode}"></td>
            <td th:text="${hotel.hotelAddress}"></td>
            <td th:text="${hotel.hotelCheckin}"></td>
            <td th:text="${hotel.hotelCheckout}"></td>
                    <td>
                        <span th:each="plan:${planList}">
                            <span th:if="${hotel.hotelId == plan.hotelId && #strings.isEmpty(plan.planDeleteDate)}" th:text="${plan.planId + ','}">
                            </span>
                        </span>
                    </td>
            <td>
                <form action="/updateHotel" method="post">
                    <input type="hidden" name="hotelId" th:value="${hotel.hotelId}">
                    <input type="submit" value="更新" class="button">
                </form>
            </td>
            <td>
                <form action="/removeHotel" method="post">
                    <input type="hidden" name="hotelId" th:value="${hotel.hotelId}">
                    <input type="submit" value="削除" class="button">
                </form>
            </td>
            <td>
                <form action="/addHotelPlan" method="post">
                    <input type="hidden" name="hotelId" th:value="${hotel.hotelId}">
                    <input type="submit" value="プラン登録" class="button">
                </form>
            </td>
            <td>
                <form action="/editHotelPlan" method="post">
                    <input type="hidden" name="hotelId" th:value="${hotel.hotelId}">
                    <input type="submit" value="プラン更新・削除" class="button">
                </form>
            </td>
        </tr>
    </table>

</body>

</html>