<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>管理者ログイン</title>
</head>

<body>

    <p><a href="/">ログアウト</a> <a href="/adminAddMember">新規登録</a> <a href="/adminHotel">宿情報管理</a></p>

    <h1>会員一覧</h1>
    <span style="color:red;" th:text="${errorMsg}"></span>


    <form action="/findMember" method="POST">
        <select name="serchCode">
            <option value="0">会員ID</option>
            <option value="1">会員名</option>
            <option value="2">会員住所</option>
        </select>
        <input type="text" name="freeword">
        <p><input type="submit" value="検索"></p>
    </form>

    <table border="1">
        <tr>
            <th>会員ID</th><th>氏名</th><th>住所</th><th>電話番号</th><th>E-Mail</th><th>生年月日</th>
            <th>入会年月日</th><th>退会年月日</th>
        </tr>
        <tr th:each="member:${memberList}">
            <td th:text="${member.memberId}"></td>
            <td th:text="${member.memberName}"></td>
            <td th:text="${member.memberAddress}"></td>
            <td th:text="${member.memberTel}"></td>
            <td th:text="${member.memberEmail}"></td>
            <td th:text="${member.memberBirth}"></td>
            <td th:text="${member.memberJoin}"></td>
            <td th:text="${member.memberWithdrawal}"></td>
            <td>
            <form action="/removeMember" method="post">
                <input type="hidden" name="memberId" th:value="${member.memberId}">
                <input type="submit" value="削除">
            </form>
            </td>
        </tr>
    </table>

</body>

</html>