<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>退会</title>
    <link th:href="@{../css/style.css}" rel="stylesheet"></link>
</head>

<body>
    <form action="member">
        <input type="hidden" name="memberId" th:value="${member.memberId}">
        <input type="submit" value="戻る" class="button">
    </form>

    <h1>退会</h1>
    <span style="color:red;" th:text="${errorMsg}"></span>

    <table border="1">
        <tr>
            <th>会員ID</th><th>氏名</th><th>住所</th><th>電話番号</th><th>E-Mail</th><th>生年月日</th>
            <th>入会年月日</th>
        </tr>
        <tr>
            <td th:text="${member.memberId}"></td>
            <td th:text="${member.memberName}"></td>
            <td th:text="${member.memberAddress}"></td>
            <td th:text="${member.memberTel}"></td>
            <td th:text="${member.memberEmail}"></td>
            <td th:text="${member.memberBirth}"></td>
            <td th:text="${member.memberJoin}"></td>
        </tr>
    </table>
    <br>
    <form action="/deleteM" method="post">
        <input type="hidden" name="memberId" th:value="${member.memberId}">
        <input type="submit" value="退会" class="button">
    </form>

</body>

</html>