<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>予約一覧</title>
    <link th:href="@{../css/style.css}" rel="stylesheet"></link>
</head>

<body>

    <form action="member">
        <input type="hidden" name="memberId" th:value="${memberId}">
        <input type="submit" value="戻る" class="button">
    </form>

    <h1>予約一覧</h1>
    <span style="color:red;" th:text="${errorMsg}"></span>

    <table border="1">
        <tr>
            <th>プランID</th><th>チェックイン日</th><th>チェックアウト日</th><th>部屋数</th>
        </tr>
        <tr th:each="rsv:${rsvList}">
            <td th:text="${rsv.planId}"></td>
            <td th:text="${rsv.rsvCheckin}"></td>
            <td th:text="${rsv.rsvCheckout}"></td>
            <td th:text="${rsv.rsvRoomCount}"></td>
            <td>
                <form action="/updateRsv" method="post">
                    <input type="hidden" name="rsvId" th:value="${rsv.rsvId}">
                    <input type="submit" value="変更" class="button">
                </form>
            </td>
            <td>
                <form action="/cxlRsv" method="post">
                    <input type="hidden" name="rsvId" th:value="${rsv.rsvId}">
                    <input type="submit" value="キャンセル" class="button">
                </form>
            </td>
        </tr>
    </table>

</body>

</html>