<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>宿泊プラン予約</title>
</head>

<body>
    <form action="member">
        <input type="hidden" name="memberId" th:value="${member.memberId}">
        <input type="submit" value="戻る">
    </form>

    <h1>宿泊プラン予約</h1>
    <span style="color:red;" th:text="${errorMsg}"></span>

    <br>
    <table border="1">
        <tr>
            <th>プランID</th><th>宿ID</th><th>宿名</th><th>プラン内容</th><th>金額</th><th>部屋数</th>
            <th>削除年月日</th><th>備考</th>
        </tr>
        <tr>
            <td th:text="${plan.planId}"></td>
            <td th:text="${plan.hotelId}"></td>
            <td>
                <span th:each="hotel:${hotelList}">
                    <span th:if="${plan.hotelId == hotel.hotelId}" th:text="${hotel.hotelName}"></span>
                </span>
            </td>
            <td>
                <span th:each="planType:${planTypeList}">
                    <span th:if="${plan.planTypeId == planType.planTypeId}" th:text="${planType.planName}"></span>
                </span>
            </td>
            <td th:text="${plan.planPrice}"></td>
            <td th:text="${plan.planRoomCount}"></td>
            <td th:text="${plan.planDeleteDate}"></td>
            <td th:text="${plan.planDescription}"></td>
        </tr>
    </table>
    <form action="/addRsv" method="post">
        <p>
            チェックイン日：<input type="date" name="rsvCheckin">
        </p>

        <p>
            チェックアウト日：<input type="date" name="rsvCheckout">
        </p>

        <p>
            部屋数：<input type="number" name="rsvRoomCount" value="0">
        </p>
        <input type="hidden" name="planId" th:value="${plan.planId}">
        <input type="hidden" name="memberId" th:value="${member.memberId}">
        <input type="submit" value="予約">
    </form>
</body>

</html>